DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECRETS_FILE=.secrets/local.env
SWIMPLACES_DEFAULT_SOURCE_FILE=source_data/swimplaces_export.csv
SWIMPLACES_COEX_LATITUDE=50.1055756
SWIMPLACES_COEX_LONGITUDE=14.4789581
SWIMPLACES_STATISTICS_LIMIT=10
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_TASK_ALWAYS_EAGER=false
